<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.polybazaar">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".notifications.NotificationService"
            android:enabled="true"

            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".conversationOverview.ConversationOverviewActivity"
            android:exported="true"
            />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".utilities.ImageTaker"
            android:noHistory="false" />

        <activity
            android:name=".UI.SubmitOffer"
            android:noHistory="false"
            android:label="@string/submit_offer"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".UI.SalesOverview"/>
        <activity
            android:name=".UI.NotSignedIn"
            android:label="Not Signed In"
            android:parentActivityName=".UI.SalesOverview" />
        <activity
            android:name=".map.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".UI.UserProfile"
            android:label="@string/title_activity_user_profile"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.EmailVerificationActivity"
            android:label="Verify E-mail" />
        <activity
            android:name=".login.SignUpActivity"
            android:label="Sign Up" />
        <activity
            android:name=".login.SignInSuccessActivity"
            android:label="Sign In" />
        <activity
            android:name=".login.SignInActivity"
            android:label="Sign In" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ch.epfl.polybazaar.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".UI.FillListing"
            android:label="Listing Editor"
            android:noHistory="false" />
        <activity
            android:name=".UI.SalesOverview"
            android:label="PolyBazaar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:label="Chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.SaleDetails"
            android:label="Details"
            android:parentActivityName=".UI.SalesOverview" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>